# VSCode
.vscode

# Sphinx documentation
docs/build/
docs/source/developers_manual/code/

# Animation Nodes
animation_nodes/

# Cache
.pytest_cache/
**/__pycache__
cache/

# Blender
*.pyc
*.blend[1-9]